*{
    text-decoration: none;
    list-style: none;
}
body {
    background: #776d8a;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    text-align: center;
}
#title {
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f3e6e3;
    margin-left: 2rem;
}

#description {
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f3e6e3;
}

#alldform {
    background-color: #dbe3e5;
    margin:0 100px 100px 100px ;
    padding-top: 20px;
}
.leftext1 {
    font-size: 1.5rem;
    text-align: left;
    display: inline;
}
.leftext2 {
    font-size: 1.5rem;
    text-align: left;
    display: inline;
}


#checkbox{
  text-align: left;
  display: inline-block;
}

#radio{
  text-align: left;
  display: inline-block;
}
